<h3> You've clicked on {{label}} </h3>
<p> Total Mentions: {{volume}} </p>
<p> Positive Mentions: {{sentiment.positive}} </p>
<p> Neutral Mentions: {{sentiment.neutral}} </p>
<p> Negative Mentions: {{sentiment.negative}} </p>
