<h3> You've clicked on {{label}} </h3>
<li>
  <ul> Total Mentions: {{volume}} </ul> 
  <ul> Positive Mentions: {{sentiment.positive}} </ul> 
  <ul> Neutral Mentions: {{sentiment.neutral}} </ul> 
  <ul> Negative Mentions: {{sentiment.negative}} </ul> 
</li>
